<!doctype html>
<html>
  <head>
    <link href="../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../resources/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="assets/css/main.css" rel="stylesheet" />
    <link href="assets/css/rates.css" rel="stylesheet" />

    <script src="../resources/angular.min.js"></script>
    <script src="../resources/angular-route.min.js"></script>
    <script src="../resources/jquery.min.js"></script>
    <script src="../resources/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" href="../resources/font-awesome/css/font-awesome.min.css">

    <style type="text/css">
      
    </style>
  </head>
  <body ng-app="myApp">
    <div class="header">
      <div class="container">
        <h1>Team Maker Beta</h1>
      </div>
    </div>

    <div class="main" ng-controller="MainController">
      <div class="container row" style="float: none; margin: 0 auto;">
        <div class="col-md-6 col-centered">
          <h2> Team 1 </h2>
          <ul id="team1" class="list-group"></ul>
        </div>
        <div class="col-md-6 col-centered">
          <h2> Team 2 </h2>
          <ul id="team2" class="list-group"></ul>
        </div>
      </div>
      <div class="row container" style="float: none; margin: 0 auto;">
        <div class="col-md-2 col-centered" style="float: none; margin: 0 auto;">
          <input type="button" class="btn btn-primary btn-lg" ng-click="generar()" value="Generar" ng-show="showGenerar"/>
        </div>
      </div>
      <div class="row container" style="float: none; margin: 0 auto;">
        <div class="col-md-6 col-centered">
            <form novalidate name="form" class="simple-form form-inline" ng-show="!showGenerar">
              <div class="row">
                <div class="form-group col-xs-8">
                 <label> Nombre:</label> <input type="text" class="form-control" ng-model="jugador.nombre" />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-8">
                  <div class="pull-left">
                    <label>Habilidad: </label>
                  </div>
                  <div class="pull-left ball">
                    <input class="ball ball-5" id="ball-5" type="radio" name="ball" value="10" ng-model="jugador.valor"/>
                    <label class="ball ball-5" for="ball-5"></label>
                    <input class="ball ball-4" id="ball-4" type="radio" name="ball" value="8" ng-model="jugador.valor"/>
                    <label class="ball ball-4" for="ball-4"></label>
                    <input class="ball ball-3" id="ball-3" type="radio" name="ball" value="6" ng-model="jugador.valor"/>
                    <label class="ball ball-3" for="ball-3"></label>
                    <input class="ball ball-2" id="ball-2" type="radio" name="ball" value="4" ng-model="jugador.valor"/>
                    <label class="ball ball-2" for="ball-2"></label>
                    <input class="ball ball-1" id="ball-1" type="radio" name="ball" value="2" ng-model="jugador.valor"/>
                    <label class="ball ball-1" for="ball-1"></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-8">
                  <div class="pull-left">
                    <label>Resistencia: </label>
                  </div>
                  <div class="pull-left heart">
                    <input class="heart heart-5" id="heart-5" type="radio" name="heart" value="10" ng-model="jugador.resistencia"/>
                    <label class="heart heart-5" for="heart-5"></label>
                    <input class="heart heart-4" id="heart-4" type="radio" name="heart" value="8" ng-model="jugador.resistencia"/>
                    <label class="heart heart-4" for="heart-4"></label>
                    <input class="heart heart-3" id="heart-3" type="radio" name="heart" value="6" ng-model="jugador.resistencia"/>
                    <label class="heart heart-3" for="heart-3"></label>
                    <input class="heart heart-2" id="heart-2" type="radio" name="heart" value="4" ng-model="jugador.resistencia"/>
                    <label class="heart heart-2" for="heart-2"></label>
                    <input class="heart heart-1" id="heart-1" type="radio" name="heart" value="2" ng-model="jugador.resistencia"/>
                    <label class="heart heart-1" for="heart-1"></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-8">
                  <div class="pull-left">
                    <label>Potencia: </label>
                  </div>
                  <div class="pull-left power">
                    <input class="power power-5" id="power-5" type="radio" name="power" value="10" ng-model="jugador.potencia"/>
                    <label class="power power-5" for="power-5"></label>
                    <input class="power power-4" id="power-4" type="radio" name="power" value="8" ng-model="jugador.potencia"/>
                    <label class="power power-4" for="power-4"></label>
                    <input class="power power-3" id="power-3" type="radio" name="power" value="6" ng-model="jugador.potencia"/>
                    <label class="power power-3" for="power-3"></label>
                    <input class="power power-2" id="power-2" type="radio" name="power" value="4" ng-model="jugador.potencia"/>
                    <label class="power power-2" for="power-2"></label>
                    <input class="power power-1" id="power-1" type="radio" name="power" value="2" ng-model="jugador.potencia"/>
                    <label class="power power-1" for="power-1"></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <input class="btn btn-secondary btn-sm" type="button" ng-click="clear()" value="Reset" />
                <input class="btn btn-primary btn-sm" type="submit" ng-click="update(jugador)" value="Guardar" />
              </div>
            </form>
        </div>
        <div class="col-md-6 col-centered">
            <ul  class="list-group">
              <li ng-repeat="persona in pila" class="list-group-item">
                <table style="width: 100%;">
                  <tr>
                    <td>
                      <span class="label label-default">{{$index+1}}</span> 
                      {{persona.nombre}}  
                    </td>
                    <td>
                      <span ng-bind-html='persona.valor | valorball'></span><br/>
                      <span ng-bind-html='persona.resistencia | resistenciaball'></span><br/>
                      <span ng-bind-html='persona.potencia | potenciaball'></span><br/>
                    </td>
                    <td>
                      <button class="btn btn-danger btn-xs pull-right" ng-click="removeItem($index)">
                        <i class="fa fa-trash-o fa-lg"></i> Borrar
                      </button>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">

      </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/script.js"></script>

    <!-- Modules -->
    <script src="config/app.js"></script>

    <!-- filters -->
    <script src="filters/valorball.js"></script>

    <!-- Controllers -->
    <script src="controllers/MainController.js"></script>
  </body>
</html>
